@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	scroll-behaviour: smooth;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.perspective {
	perspective: 1000px;
}

.transform-style-preserve-3d {
	transform-style: preserve-3d;
}

.backface-hidden {
	backface-visibility: hidden;
}

.group-hover\:rotate-y-180:hover
	.group-hover\:rotate-y-180 {
	transform: rotateY(180deg);
}

.group-hover\:rotate-y-180 {
	transform: rotateY(0deg);
}

.rotate-y-180 {
	transform: rotateY(180deg);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 1s ease-out forwards;
}
